*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", sans-serif;
}

body{
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    width: 100%;
    max-width: 280px;
    background-color:#fdebd3;
    border-radius: 18px;
    padding: 20px;
    box-shadow: 0 15px 30px rgba(0,0,0,0.15);
}
.container .input {
    width: 100%;
    height: 60px; 
    font-size: 1.3rem;
    text-align: right;
    border-radius: 10px;
    margin-bottom: 15px;
    background: #fff;
}
.input:hover{
    border: 2px solid black;
}

.buttons {
    display: grid;
    grid-template-columns: repeat(4, minmax(45px, 1fr));
    gap: 8px;
}
.buttons .button{
    background: #f3f3f3;
    height: 50px;
    font-size: 1.3rem;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.2);
}
button:active {
    transform: translateY(1px);
    box-shadow: 0 2px 0 #999;
}
.button:hover{
    background-color: gainsboro;
}
@media (max-width: 260px) {
    .buttons {
    grid-template-columns: repeat(3, 1fr);
    }
}